*{
    margin: 0;
    padding: 0;
}
body{
    font-family: serif;
    background-color: black ;
    color: white;
   
}
.container{
    min-width: 100vw;
    max-width:fit-content;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.container h3{
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}
.container .reset,  .close ,.cross{
    width: 180px;
    height: 50px;
 margin: 2rem;
  border-radius: 10px;
    border: none;
    border: 2px solid white;
 
    font-size: 1.7rem;
    cursor: pointer;
}
.container .dabba{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: end;
    justify-content: right;
}
.container .dabba .score {
min-width: 100px;
    min-height: 50px;
    max-width: fit-content;
    max-height: fit-content;


border: none;
border: 2px solid white;
font-size: 1.5rem;
}
.container .game{
width: 480px;
height: 450px;

display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;



}

.container .game .btn {
    width: 160px;
    height: 150px;
    border: none;
    border: 2px solid white;
    font-size: 90px;
    font-family: cursive;


}
.popup, .winnerboard{
    position: fixed;
    top: 0;
 
    left: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    z-index: 1;
    display: none;
    flex-direction: column;

}
.popup .scoreboard{
    width: 500px;
    height: 400px;
    background: rgb(26, 55, 153);
    justify-content: center;
   flex-wrap: wrap;
   border: 2px white solid;
   color: white;
display: flex;
    flex-direction: column;
    display: none;
    align-items: center;
}
.popup .scoreboard h1{
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}
.popup .scoreboard p{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
 .close{
    width: 300px;

}
 

.winnerboard .winnerdiv{
    width: 500px;
    height: 400px;
    background: rgb(26, 55, 153);
    align-items: center;
    justify-content: center;
   flex-wrap: wrap;
    flex-direction: column;
    display: none;
    color: white;
    border: 2px white solid;
}
.winnerboard .winnerdiv h1{
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 20px;
   
}
.winnerboard .winnerdiv h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
 .cross{
    width: 300px;
    display: none;
display: flex;
justify-content: center;
align-items: center;
}
 